<!DOCTYPE html>
<html>
<head>
  <title>Bank Nkhonde</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_importmap_tags %>

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <%= link_to "Bank Nkhonde", root_path %>
      </div>

      <!-- Search bar -->
      <div class="navbar-search">
        <span class="search-icon"><i class="fas fa-search"></i></span>
        <input type="text" class="search-input" placeholder="Find users in this group..." />
        <span class="filter-icon"><i class="fas fa-filter"></i></span>
      </div>

      <div class="nav-links">
        <%= link_to "About", "#" %>

        <% if @user %>
          <div class="profile-dropdown">
            <button id="profile-button" class="nav-button-link">
              <%= @user.username %> <span class="caret">▼</span>
            </button>
            <div id="dropdown-menu" class="dropdown-content">
              <%= link_to "Profile", "#" %>
              <%= form_tag(logout_path, method: :delete) do %>
                <%= submit_tag "Logout", class: "logout-link" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", login_path %>
        <% end %>

        <% unless current_user %>
          <%= link_to "Register", register_path %>
        <% end %>
      </div>
    </nav>
  </header>

  <main class="main-layout">
    <%= yield %>
  </main>
</body>
</html>